.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 150px 0 ;
    margin: 0;
    background-color: #0F2B53;
}
.inMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width:1170px;
    margin: auto;
    height: auto;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 95%;
    margin: auto;
    height: 100%;

}
.text h3{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 35px;
    margin-top: 25px;
}
.text p{
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.5;
    margin-bottom: 25px;
}
.text p span{
    margin-left: 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 85%;
    margin-right: auto;
    height: 100%;

}
.footer p{
    color: #838383;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
}
.text .btn{
    margin-left: 15px;
}
.btn a{
    color: lightgreen;
    font-size: 16px;
    font-weight: 550;
    line-height: 1.5;
    text-decoration: none;
    transition: all .4s ease;
}
.btn svg{
    margin-left: 5px;
    vertical-align: text-top;
}
.btn:hover a{
    transition: all .4s ease;
    color: #fff;
    /* text-decoration: underline; */
}
.btn:active a{
    color: red;
    text-decoration: underline;
    transform: scale(.9);
    transition: all .1s ease;
}

@media screen and ( max-width: 756px ) {
    .img{
        height: 22vh;
    }
    .btn a{
        font-size: 12px;
    }
    .text h3{
        font-size: 24px;
        margin: 20px 0 20px;
    }
    .text p{
        font-size: 15px;
        margin-bottom: 15px;
    }
}