.title {
  margin: 2rem 0;
  width: 70%;
  font-weight: 500;
}

.paragraf {
  width: 70%;
  font-weight: 300;
}

.table thead,
tbody,
tfoot,
tr,
th,
td {
  border: 1px solid gainsboro;
  text-align: center;
  margin-bottom: 1rem;
  padding: 5px;
}
.table {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .table {
    width: 600px;
  }
  .table thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    text-align: center;
    margin-bottom: 0rem;
    padding: 0px;
  }
}
@media screen and (max-width: 800px) {
  .table {
    display: none;
  }
  .paragraf {
    width: 90%;
    margin: auto;
  }
  .main h5 {
    width: 80%;
    margin: 30px auto;
  }
}
