.main {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: #0f2b53;
}
.skewedBox {
  background: #fff;
  padding: 100px 50px;
  transform: skew(0deg, -10deg) translateY(-150px);
}
.container {
  padding: 100px;
  transform: skew(0deg, 10deg);
}

.container p {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
  width: 80%;
}
.rahbariyatLink {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-left: auto;
  padding-bottom: 50px;
}
.rahbariyatLink a {
  width: 100%;
  color: #0f2b53;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3em;
  margin: auto;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.rahbariyatLink a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 1%;
  height: 2px;
  background-color: #0f2b53;
  text-align: center;
  transition: all 1s ease;
}
.rahbariyatLink a:hover::after {
  transition: all 1s ease;
  left: 0%;
  width: 100%;
}
.containerButton a {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.containerButton a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #011b7c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}
.containerButton a span:nth-child(2) {
  color: #011b7c;
  background: #fff;
  top: -0.8px;
  height: 103%;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 53%);
}
.containerButton a span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.containerButton a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}
.containerButton2 a {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
.containerButton2 a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #011b7c;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}
.containerButton2 a span:nth-child(2) {
  color: #fff;
  background: #011b7c;
  top: -0.8px;
  height: 103%;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 53%);
}
.containerButton2 a span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.containerButton2 a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}
.main h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 3em;
}
.main .rektor {
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 1.5em;
}
.sec2 {
  padding: 0 200px 150px;
  color: #fff;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sec2 p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}
.sec2 button {
  padding: 5px 25px;
  font-size: 1.5em;
  font-weight: 300;
  margin: 20px 0px;
  border-radius: 4px;
  color: #0f2b53;
  background: #fff;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .sec2 {
    padding: 0 50px 0;
  }
  .sec2 p {
    width: 100%;
    font-size: 16px;
  }
  .container p {
    width: 100%;
    font-size: 16px;
  }
  .main h2 {
    line-height: 1;
    font-size: 24px;
    font-weight: 600;
  }
  .main .rektor {
    font-size: 22px;
    line-height: 1;
  }
  .rahbariyatLink a {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .sec2 {
    padding: 20px 10px;
  }
  .skewedBox {
    padding: 100px 10px;
  }
  .containerButton a {
    width: 100%;
  }
  .containerButton2 a {
    width: 100%;
  }
}
