.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 80px 0;
    background: #0f2b53;
}
.inMain{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 100%;
    margin-top: 100px;
}
.img{
    width: 100%;
    height: 55vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin: 0;
    color: #fff;
    line-height: 1.5;
}
.text h2{
    font-size: 36px;
    font-weight: 600;
    
}
.text h4{
    font-size: 22px;
    font-weight: 500;

}
.text span{
    width: 100px;
    height: 10px;
    background-color: #fff;
    margin-bottom: 35px;
}
.text p{
    font-size: 18px;
    margin-bottom: 15px;
}
.text p span{
    margin-left: 50px;
}

@media screen and ( max-width: 756px ) {
    .inMain{
        margin-bottom: 10px;
    }
    .img{
        height: 45vh;
    }
    .text h2{
        font-size: 22px;
    }
    .text h4{
        font-size: 16px;
    }
    .text span{
        width: 50px;
        height: 5px;
        margin-bottom: 15px
    }
    .text p{
        font-size: 14px;
    }
    
}



