.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 70px 0;
    background: #0F2B53;
}
.inMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    color: #FFF;
}
.inMain h2{
    font-size: 36px;
    line-height: 1.5;
    font-weight: 650;
}
.inMain span{
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin-bottom: 35px;
}
.inMain p{
    font-size: 18px;
    font-weight: 550;
    line-height: 1.5;
    margin-bottom: 30px;
}
.inMain p span{
    margin-left: 50px;
}
@media screen and ( max-width: 756px ) {
    .inMain {
        width: 85%;
    }
    .inMain h2{
        font-size: 22px;
    }
    .inMain span{
        width: 50px;
        height: 5px;
        margin-bottom: 15px;
    }
    .inMain p{
        font-size: 14px;
        margin-bottom: 15px;
    }
}