.main{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding-top: 150px;
   padding-bottom: 50px;
}
.container {
   width: 90%;
   margin: auto;
}
.title {
   border-bottom: 2px solid #0f2b53;
}
.title h2 {
   font-size: 36px;
   font-weight: 600;
   text-transform: uppercase;
}
.users {
   padding: 2rem 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.user {
   width: 45%;
   display: flex;
   /* justify-content: space-between; */
   /* align-items: center; */
}
.user img {
   width: 150px;
   height: 175px;
}
.user p {
   font-size: 16px;
   line-height: 1.5;
   padding-left: 1rem;
}
.paragraf {
   padding-top: 1rem;
}

@media screen and (max-width: 900px) {
   .users{
      flex-direction: column;
   }
   .user {
      width: 100%;
   }
}