.main {
  width: 100%;
  height: 100%;
  padding: 130px 0;
}
.container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.title {
  margin: auto;
  text-align: center;
  margin-left: auto;
  padding-bottom: 50px;
}
.title h3 {
  width: 100%;
  color: #0f2b53;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 5em;
  margin: auto;
  text-align: center;
  position: relative;
}
.title h3::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 1%;
  height: 2px;
  background-color: #0f2b53;
  text-align: center;
  transition: all 1s ease;
}
.title h3:hover::after {
  transition: all 1s ease;
  left: 0%;
  width: 100%;
}
.card {
  width: 45%;
  height: 100%;
  margin: 20px auto;
}
.card img {
  width: 100%;
}

.containerButton a {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.containerButton a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #011b7c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}
.containerButton a span:nth-child(2) {
  color: #0f2b53;
  background: #fff;
  top: -0.8px;
  height: 103%;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 40% 53%);
}
.containerButton a span:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.containerButton a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
}

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 100%;
    height: 100%;
  }
  .containerButton a {
    width: 100%;
  }
  .title h3 {
    font-size: 2em;
  }
}
