.main {
  width: 100%;
  box-sizing: border-box;
  padding: 150px 0;
  background-color: #0f2b53;
}
.linkBlock {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-left: auto;
  padding-bottom: 50px;
}
.linkBlock a {
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3em;
  margin: auto;
  text-align: center;
  position: relative;
  text-decoration: none;
}
.linkBlock a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 1%;
  height: 2px;
  background-color: #ffffff;
  text-align: center;
  transition: all 1s ease;
}
.linkBlock a:hover::after {
  transition: all 1s ease;
  left: 0%;
  width: 100%;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
}
.box {
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 15px #ffffff9f;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.box:hover .side {
  transform: rotateZ(360deg);
  transition: all 1s ease;
  border-radius: 50%;
}
.box:hover img {
  transition: all 1s ease;
  transform: rotateZ(-360deg);
}
.box img {
  transition: all 1s ease;
}
.side {
  transition: all 1s ease;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.box a {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box a {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .linkBlock a {
    font-size: 2em;
  }
}
