.main {
  /* padding-top: 115px; */
}

.Home1 {
  padding-top: 150px;
  position: relative;
  width: 100%;
  height: 100vh;
  transition: linear 0.7s;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center top;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0.4;
  height: 100%;
}
@media screen and (max-width: 950px) {
  /* .Home1 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
  } */
}
