.main {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.containerMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 100%;
  position: relative;
}
.socialmedia {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 1s ease;
}
.socialMediaScroll {
  background-color: #011b7c;
}
.socialMediaNotScroll {
  background-color: transparent;
}
.links {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  align-items: center;
  display: flex;
}
.linksScroll {
  background-color: #fff;
  box-shadow: 0 0 20px 0 #0f2b53;
}
.linksNotScroll {
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.linksNotScroll .navbarLink a {
  color: #fff;
  font-weight: 600;
}
.container {
  justify-content: space-between;
  display: flex;
  width: 80%;
  margin-left: 200px;
}
.logoContainer {
  position: absolute;
  width: 140px;
  height: 180px;
  /* background-color: yellow; */
  top: 0;
  left: 0;
  border-radius: 0px 0px 70px 70px;
  background-color: #011b7c;
  box-shadow: 0px 0px 20px 4px;
  z-index: 1;
}
.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  /* width: 120px; */
}
.content {
  width: 90%;
  margin: auto;
}
.social {
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social .icon {
  width: 30px;
  height: 30px;
  background-color: #0c3772;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.social svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  transition: all 0.5s ease;
}
.social .icon:hover {
  background-color: #fff;
  transition: all 0.5s ease;
}
.social .icon:hover svg {
  fill: #0f2b53;
  transition: all 0.5s ease;
}
.socialmedia .us {
  height: 40px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.socialMediaScroll .us {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.socialMediaNotScroll .us {
  border-right: 0px #fff;
  border-left: 0px #fff;
}
.us a {
  margin: auto;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0px 0px 20px;
  margin: 0px 20px;
}
.us a:hover {
  text-shadow: 0px 0px 0px;
}
.language {
  width: 20%;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.languageBox {
  padding: 2px;
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.4s all;
}

.languageBox:hover {
  border: 1px solid #fff;
}

.languageBox a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 2px;
}
.languageBox:hover a {
  color: #0f2b53;
  transition: ease-in-out 0.4s all;
}
.languageBox:hover {
  background-color: #fff;
  transition: ease-in-out 0.4s all;
  border: 1px solid #0f2b53;
}
.languageBox a:focus {
  color: #fff;
  transition: ease-in-out 0.4s all;
}

.languageBoxActive {
  padding: 2px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out 0.4s all;
  background-color: #fff;
  transition: ease-in-out 0.4s all;
  border: 1px solid #0f2b53;
}
.languageBoxActive a {
  color: #0f2b53;
  transition: ease-in-out 0.4s all;
  text-decoration: none;
}

.titleName {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
.home {
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home svg {
  width: 20px;
  height: 20px;
  color: #011b7c;
}
.navbarLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 5px;
  position: relative;
  height: 100%;
}

.navbarLink .hoverDiv {
  transition: all 1s ease;
  display: none;
}

.navbarLink .hoverDiv:hover {
  display: flex;
}
.navbarLink:hover .hoverDiv {
  position: absolute;
  top: 50px;
  left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 15px;
  width: 200px;
  background: #011b7c;
  transition: all 1s ease;
}
.navbarLink .hoverDiv a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  transition: all 1s ease;
  line-height: 1.5;
  margin-bottom: 10px;
  display: flex;
}
.navbarLink .hoverDiv a:hover {
  color: rgb(180, 180, 180);
}
.navbarLink .hoverDiv a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: all 1s ease;
  left: 0;
}
.navbarLink .hoverDiv a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 0%;
  background-color: #0f2b53;
  transition: all 1s ease;
}
.hoverDiv a:hover::after,
.hoverDiv a:hover::before {
  width: 100%;
  transition: all 1s ease;
}

.navbarLink svg {
  vertical-align: text-top;
  margin-left: 10px;
}
.navbarLink:hover svg {
  transform: rotate(-180deg);
}

.navbarLink a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f2b53;
  position: relative;
  transition: all 0.4s linear;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 15px 0px;
}
.navbarLink a:focus {
  color: #0c3772;
  transition: all 0.4s linear;
}
.navbarLink a span {
  width: 0;
  height: 2px;
  background: #0f2b53;
  position: absolute;
  top: 40px;
  left: 0;
  transition: all 0.4s linear;
}
.navbarLink a:hover span {
  width: 100%;
}
.navbarLink a:focus span {
  background-color: #fff;
  width: 100%;
}
.navbarLink a:hover {
  color: #0c3772;
  opacity: 0.9;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 800px) {
  .main {
    display: none;
  }
}
